@media only screen and (min-width: 1920px) {
    .container {
        width: 1400px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .container {
        width: 1200px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        width: 1140px;
    }
    footer {
        .services-line-wrapper {
            .container {
                .services-line {
                    .contacts-block {
                        .email-block {
                            padding-left: 156px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .product-content {
        .container {
            .product-content-blocks {
                .product-right-side {
                    .product-ingridients {
                        .block-ingridient {
                            grid-template-columns: 170px 1fr;
                        }
                        .block-inform {
                            grid-template-columns: 170px 1fr;
                        }
                    }
                    .product-settings {
                        .product-payment {
                            grid-template-columns: 0.8fr 1.4fr 1fr;
                            .product-quintity {
                                padding: 0 10px;
                                a {
                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                            .product-incart {
                                a {
                                    font-size: 12px;
                                    .cart-icon {
                                        margin: 0 10px 0 0;
                                    }
                                }
                            }
                        }
                    }
                    .product-info {
                        grid-template-columns: 1fr 1.4fr;
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            .container {
                .sponsors-line {
                    .left-side {
                        .img-line {
                            .images-left {
                                padding-left: 22px;
                            }
                        }
                        .title-line {
                            .titles-left {
                                padding-left: 30px;
                            }
                        }
                    }
                    .right-side {
                        .images-right {
                            padding-left: 28px;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    .contacts-block {
                        .email-block {
                            padding-left: 98px;
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    .info-part {
                        .info-blocks {
                            &.base-shop {
                                margin-right: 61px;
                            }
                            &.legal-block {
                                margin-right: 67px;
                            }
                            &.transport-block {
                                margin-right: 54px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
    header {
        .help-line-wrapper {
            .container {
                .help-line {
                    &-right {
                        margin: 0;
                        justify-content: space-around;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                img {
                                    margin-right: 6px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                img {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            .container {
                .navigation {
                    display: flex;
                    justify-content: space-evenly;
                    .navigation-links {
                        font-size: 12px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .product-content {
        .container {
            .product-content-blocks {
                .product-left-side {
                    .product-img-bcg {
                        height: 488px;
                    }
                    .product-mini-block {
                        margin: 0 0 34px 0;
                    }
                    .product-about-block {
                        .leaf-block {
                            .leaf-big {
                                left: 248px !important;
                            }
                        }
                    }
                }
                .product-right-side {
                    .product-name {
                        margin: 0 0 12px 0;
                        .name-text {
                            font-size: 22px;
                        }
                    }
                    .product-ingridients {
                        .block-ingridient {
                            grid-template-columns: 170px 1fr;
                        }
                        .block-inform {
                            grid-template-columns: 170px 1fr;
                        }
                    }
                    .product-settings {
                        padding: 10px 0 22px 0;
                        .product-price {
                            .price-text {
                                font-size: 19px;
                                margin: 0 16px 0 0;
                            }
                            .price-info {
                                font-size: 11px;
                            }
                        }
                        .product-payment {
                            grid-template-columns: 1fr 0.7fr 1fr;
                            .product-quintity {
                                padding: 0 10px;
                                a {
                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                            .product-incart {
                                a {
                                    font-size: 0;
                                    .cart-icon {
                                        width: 24px;
                                        height: 24px;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    .product-info {
                        grid-template-columns: 1fr 1.4fr;
                        margin: 0 0 42px 0;
                        .info-check {
                            .check-icon {
                                margin: 0 14px 0 0;
                            }
                            .check-text {
                                font-size: 12px;
                            }
                        }
                        .info-delivery {
                            .truck-icon {
                                margin: 0 19px 0 0;
                            }
                            .delivery-text {
                                font-size: 12px;
                            }
                        }
                        .info-phone {
                            .phone-icon {
                                margin: 0 10px 0 0;
                            }
                            .phone-text {
                                font-size: 12px;
                            }
                        }
                        .info-email {
                            .email-icon {
                                margin: 0 14px 0 0;
                            }
                            .email-text {
                                font-size: 12px;
                            }
                        }
                    }
                    .product-ingridients {
                        .title-ingridient {
                            margin: 0 0 26px 0;
                        }
                        .title-inform {
                            margin: 0 0 26px 0;
                        }
                    }
                }
            }
        }
    }
    .recomended-products-list {
        .container {
            .recomended-products {
                gap: 14px;
                .recomended-products-block {
                    height: 278px;
                    a {
                        .yellow-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .white-package {
                            margin: 32px auto 0;
                            width: 60px;
                            height: 118px;
                        }
                        .dark-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .green-package {
                            margin: 50px auto 16px;
                            width: 129px;
                            height: 84px;
                        }
                        .horizontal-line {
                            margin: 14px auto 0;
                        }
                        .sale-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .new-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .products-titles {
                            margin-top: 13px;
                            h3 {
                                padding-bottom: 6px;
                                font-size: 10px;
                            }
                            .products-price {
                                font-size: 11px;
                                padding-bottom: 8px;
                            }
                            p {
                                font-size: 10px;
                                margin: 0 9px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .showed-products-list {
        .container {
            .showed-products {
                grid-template-columns: 170px 170px 170px;
                .showed-products-block {
                    &.yellow-block,
                    &.white-block {
                        height: 278px;
                        a {
                            .sale-block {
                                width: 36px;
                                height: 13px;
                                p {
                                    font-size: 9px;
                                }
                            }
                            .white-package {
                                margin: 12px auto 0;
                                width: 60px;
                            }
                            .yellow-package {
                                width: 60px;
                                padding-top: 34px;
                            }
                            .horizontal-line {
                                top: 177px;
                            }
                            .products-titles {
                                top: 187px;
                                h3 {
                                    padding-bottom: 6px;
                                    font-size: 10px;
                                }
                                .products-price {
                                    font-size: 11px;
                                    padding-bottom: 8px;
                                }
                                p {
                                    font-size: 10px;
                                    margin: 0 9px;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 140px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        padding-top: 14px;
                        .img-line {
                            .images-left {
                                padding-left: 22px;
                            }
                        }
                        .title-line {
                            .titles-left {
                                padding-left: 30px;
                            }
                        }
                    }
                    .right-side {
                        padding-bottom: 14px;
                        .images-right {
                            padding-left: 46px;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .contacts-block {
                        .fax-block {
                            text-align: center;
                        }
                        .adress-block {
                            padding-right: 27px;
                            text-align: center;
                        }
                        .email-block {
                            text-align: center;
                            padding-left: 27px;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        padding-bottom: 40px;
                        .info-blocks {
                            .info-titles {
                                font-size: 13px;
                            }
                            a {
                                font-size: 13px;
                            }
                            &.base-shop {
                                margin-right: 61px;
                            }
                            &.legal-block {
                                margin-right: 67px;
                            }
                            &.transport-block {
                                margin-right: 54px;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-around;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    header {
        .main-settings-wrapper {
            .container {
                .main-settings {
                    .main-settings-left {
                        .settings-language {
                            font-size: 10px;
                            margin-left: 9px;
                        }
                        .settings-title {
                            font-size: 10px;
                        }
                    }
                    .main-settings-center {
                        a {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .main-settings-right {
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .help-line-wrapper {
            .container {
                .help-line {
                    grid-template-columns: 1fr 190px 1fr;
                    &-left {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &-right {
                        margin: 0;
                        justify-content: space-evenly;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            .container {
                .navigation {
                    display: flex;
                    justify-content: space-between;
                    .navigation-links {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }
        }
        .header-photo {
            .coffee-photo {
                width: 530px;
                height: auto;
            }
        }
    }
    .product-content {
        .container {
            .product-content-blocks {
                grid-template-rows: 0.6fr 1fr;
                grid-template-columns: 1fr;
                .product-left-side {
                    .product-img-bcg {
                        height: 488px;
                    }
                    .product-mini-block {
                        margin: 0;
                    }
                    .product-about-block {
                        display: none;
                        height: 0;
                        width: 0;
                        .leaf-block {
                            .leaf-big {
                                left: 248px !important;
                            }
                        }
                    }
                }
                .product-right-side {
                    .product-name {
                        margin: 0 0 12px 0;
                        .name-text {
                            font-size: 22px;
                        }
                    }
                    .product-ingridients {
                        .block-ingridient {
                            grid-template-columns: 170px 1fr;
                        }
                        .block-inform {
                            grid-template-columns: 170px 1fr;
                        }
                    }
                    .product-settings {
                        padding: 10px 0 22px 0;
                        .product-price {
                            .price-text {
                                font-size: 19px;
                                margin: 0 16px 0 0;
                            }
                            .price-info {
                                font-size: 11px;
                            }
                        }
                        .product-payment {
                            grid-template-columns: 0.8fr 1.2fr 1fr;
                            .product-quintity {
                                padding: 0 10px;
                                a {
                                    justify-content: center;
                                    .quintity-text {
                                        font-size: 12px;
                                        margin: 0 20px 0 0;
                                    }
                                    .quintity-number {
                                        font-size: 12px;
                                        margin: 0 45px 0 0;
                                    }
                                }
                            }
                            .product-incart {
                                a {
                                    font-size: 14px;
                                    .cart-icon {
                                        width: 24px;
                                        height: 24px;
                                        margin: 0 20px 0 0;
                                    }
                                }
                            }
                        }
                    }
                    .product-info {
                        grid-template-columns: 1fr 1.4fr;
                        margin: 0 0 42px 0;
                        .info-check {
                            .check-icon {
                                margin: 0 14px 0 0;
                            }
                            .check-text {
                                font-size: 12px;
                            }
                        }
                        .info-delivery {
                            .truck-icon {
                                margin: 0 19px 0 0;
                            }
                            .delivery-text {
                                font-size: 12px;
                            }
                        }
                        .info-phone {
                            .phone-icon {
                                margin: 0 10px 0 0;
                            }
                            .phone-text {
                                font-size: 12px;
                            }
                        }
                        .info-email {
                            .email-icon {
                                margin: 0 14px 0 0;
                            }
                            .email-text {
                                font-size: 12px;
                            }
                        }
                    }
                    .product-ingridients {
                        .title-ingridient {
                            margin: 0 0 26px 0;
                        }
                        .title-inform {
                            margin: 0 0 26px 0;
                        }
                    }
                }
            }
        }
    }
    .recomended-products-list {
        .container {
            .recomended-products {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                :nth-child(1),
                :nth-child(3) {
                    justify-self: flex-end;
                }
                .recomended-products-block {
                    max-width: 250px;
                    height: 278px;

                    a {
                        .yellow-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .white-package {
                            margin: 32px auto 0;
                            width: 60px;
                            height: 118px;
                        }
                        .dark-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .green-package {
                            margin: 50px auto 16px;
                            width: 129px;
                            height: 84px;
                        }
                        .horizontal-line {
                            margin: 14px auto 0;
                        }
                        .sale-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .new-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .products-titles {
                            margin-top: 13px;
                            h3 {
                                padding-bottom: 6px;
                                font-size: 10px;
                            }
                            .products-price {
                                font-size: 11px;
                                padding-bottom: 8px;
                            }
                            p {
                                font-size: 10px;
                                margin: 0 9px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .showed-products-list {
        .container {
            .showed-products {
                grid-template-columns: 1fr 1fr 1fr;
                .showed-products-block {
                    &.yellow-block,
                    &.white-block {
                        height: 278px;
                        a {
                            .sale-block {
                                width: 36px;
                                height: 13px;
                                p {
                                    font-size: 9px;
                                }
                            }
                            .white-package {
                                margin: 12px auto 0;
                                width: 60px;
                            }
                            .yellow-package {
                                width: 60px;
                                padding-top: 34px;
                            }
                            .horizontal-line {
                                top: 177px;
                            }
                            .products-titles {
                                top: 187px;
                                h3 {
                                    padding-bottom: 6px;
                                    font-size: 10px;
                                }
                                .products-price {
                                    font-size: 11px;
                                    padding-bottom: 8px;
                                }
                                p {
                                    font-size: 10px;
                                    margin: 0 9px;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 164px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        flex-direction: column;
                        padding-top: 14px;
                        width: 100%;
                        .img-line {
                            justify-content: space-evenly;
                            width: 100%;
                            .images-left {
                                padding: 0;
                            }
                        }
                        .title-line {
                            width: 100%;
                            justify-content: space-evenly;
                            .titles-left {
                                padding: 20px 0;
                            }
                        }
                    }
                    .right-side {
                        width: 100%;
                        justify-content: space-evenly;
                        padding-bottom: 14px;
                        .images-right {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .phone-block {
                        .phone-info {
                            a {
                                font-size: 19px;
                            }
                        }
                    }
                    .contacts-block {
                        .fax-block {
                            text-align: center;
                        }
                        .adress-block {
                            padding-right: 27px;
                            text-align: center;
                        }
                        .email-block {
                            text-align: center;
                            padding-left: 27px;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        padding-bottom: 40px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .info-blocks {
                            .info-titles {
                                font-size: 11px;
                            }
                            a {
                                font-size: 11px;
                            }
                            &.base-shop {
                                margin-right: 0;
                            }
                            &.legal-block {
                                margin-right: 0;
                            }
                            &.transport-block {
                                margin-right: 0;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-around;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    header {
        .main-settings-wrapper {
            .container {
                .main-settings {
                    .main-settings-left {
                        .settings-language {
                            font-size: 10px;
                            margin-left: 9px;
                        }
                        .settings-title {
                            display: none;
                        }
                    }
                    .main-settings-center {
                        a {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .main-settings-right {
                        display: none;
                    }
                }
            }
        }
        .help-line-wrapper {
            .container {
                .help-line {
                    grid-template-columns: 50px 165px 1fr;
                    .help-line-left {
                        justify-content: center;
                        .menu-burger {
                            width: 20px;
                            height: 20px;
                            z-index: 7;
                            display: block;
                            span,
                            span:before,
                            span:after {
                                content: "";
                                margin-top: 8px;
                                position: absolute;
                                background-color: rgb(27, 28, 30);
                                display: block;
                                width: 20px;
                                height: 2px;
                                opacity: 1;
                                transition: all 0.3s;
                                -webkit-transition: all 0.3s;
                                -moz-transition: all 0.3s;
                                -ms-transition: all 0.3s;
                                -o-transition: all 0.3s;
                            }
                            span:before {
                                content: "";
                                margin-top: 5px;
                            }
                            span:after {
                                content: "";
                                margin-top: -5px;
                            }
                            &.active-menu-btn {
                                span {
                                    height: 0px !important;
                                    width: 0 !important;
                                    transition: none;
                                    -webkit-transition: none;
                                    -moz-transition: none;
                                    -ms-transition: none;
                                    -o-transition: none;
                                }

                                span:before {
                                    content: "";

                                    margin-top: 0px;
                                    transition: all.3s;
                                    -webkit-transition: all.3s;
                                    -moz-transition: all.3s;
                                    -ms-transition: all.3s;
                                    -o-transition: all.3s;
                                    transform: rotate(-135deg);
                                    -webkit-transform: rotate(-135deg);
                                    -moz-transform: rotate(-135deg);
                                    -ms-transform: rotate(-135deg);
                                    -o-transform: rotate(-135deg);
                                }

                                span:after {
                                    content: "";

                                    margin-top: 0px;
                                    transition: all 0.3s;
                                    -webkit-transition: all 0.3s;
                                    -moz-transition: all 0.3s;
                                    -ms-transition: all 0.3s;
                                    -o-transition: all 0.3s;
                                    transform: rotate(135deg);
                                    -webkit-transform: rotate(135deg);
                                    -moz-transform: rotate(135deg);
                                    -ms-transform: rotate(135deg);
                                    -o-transform: rotate(135deg);
                                }
                            }
                        }
                        a {
                            display: none;
                        }
                    }
                    .help-line-center {
                        input {
                            width: 76%;
                        }
                    }
                    &-right {
                        margin: 0;
                        justify-content: space-evenly;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            height: 0;
            visibility: hidden;
            opacity: 0;
            border: none;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            &.active-nav-line {
                opacity: 1;
                height: 90px !important;
                visibility: visible;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            .container {
                height: 100%;
                .navigation {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    flex-wrap: wrap;
                    .navigation-links {
                        font-size: 11px;
                        flex-basis: 32%;
                        margin: 20px 0 0 0;
                    }
                }
            }
        }
        .header-title {
            height: 60px;
            p {
                font-size: 14px;
            }
        }
        .header-photo {
            height: 180px;
            .coffee-photo {
                width: 290px;
                height: auto;
            }
        }
        .header-this-page {
            height: 60px;
            .page-name {
                font-size: 22px;
            }
        }
    }
    .product-content {
        .container {
            .product-content-blocks {
                grid-template-rows: 0.6fr 1fr;
                grid-template-columns: 1fr;
                .product-left-side {
                    .product-img-bcg {
                        height: 488px;
                    }
                    .product-mini-block {
                        margin: 0;
                    }
                    .product-about-block {
                        display: none;
                        height: 0;
                        width: 0;
                        .leaf-block {
                            .leaf-big {
                                left: 248px !important;
                            }
                        }
                    }
                }
                .product-right-side {
                    .product-name {
                        margin: 0 0 12px 0;
                        .name-text {
                            font-size: 22px;
                        }
                    }
                    .product-ingridients {
                        .block-ingridient {
                            grid-template-columns: 1fr 1fr;
                            p{
                                font-size: 12px;
                            }
                        }
                        .block-inform {
                            grid-template-columns: 1fr 1fr;
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                    .product-settings {
                        padding: 10px 0 22px 0;
                        .product-weight{
                            .weight-text{
                                font-size: 12px;
                            }
                        }
                        .product-price {
                            .price-text {
                                font-size: 19px;
                                margin: 0 16px 0 0;
                            }
                            .price-info {
                                font-size: 11px;
                            }
                        }
                        .product-payment {
                            grid-template-columns: 1.1fr 0.9fr 1fr;
                            .product-quintity {
                                padding: 0 6px;
                                a {
                                    .quintity-text {
                                        font-size: 11px;
                                    }
                                    .quintity-number {
                                        font-size: 11px;
                                    }
                                }
                            }
                            .product-incart {
                                a {
                                    font-size: 0;
                                    .cart-icon {
                                        width: 24px;
                                        height: 24px;
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                    .product-info {
                        grid-template-columns: 1fr 1.4fr;
                        margin: 0 0 42px 0;
                        .info-check {
                            .check-icon {
                                margin: 0 14px 0 0;
                            }
                            .check-text {
                                font-size: 10px;
                            }
                        }
                        .info-delivery {
                            .truck-icon {
                                margin: 0 19px 0 0;
                            }
                            .delivery-text {
                                font-size: 10px;
                            }
                        }
                        .info-phone {
                            .phone-icon {
                                margin: 0 10px 0 0;
                            }
                            .phone-text {
                                font-size: 10px;
                            }
                        }
                        .info-email {
                            .email-icon {
                                margin: 0 14px 0 0;
                            }
                            .email-text {
                                font-size: 10px;
                            }
                        }
                    }
                    .product-ingridients {
                        .title-ingridient {
                            margin: 0 0 26px 0;
                        }
                        .title-inform {
                            margin: 0 0 26px 0;
                        }
                    }
                }
            }
        }
    }
    .recomended-products-list {
        .container {
            .recomended-title {
                padding: 30px 0 0 0;
                .title-text {
                    font-size: 16px;
                }
            }
            .recomended-products {
                padding: 30px 0;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 14px;
                .recomended-products-block {
                    height: 278px;
                    a {
                        .yellow-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .white-package {
                            margin: 32px auto 0;
                            width: 60px;
                            height: 118px;
                        }
                        .dark-package {
                            margin: 32px auto 0;
                            height: 118px;
                            width: 60px;
                        }
                        .green-package {
                            margin: 50px auto 16px;
                            width: 129px;
                            height: 84px;
                        }
                        .horizontal-line {
                            margin: 14px auto 0;
                        }
                        .sale-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .new-block {
                            width: 36px;
                            height: 13px;
                            margin-left: -18px;
                            p {
                                font-size: 9px;
                            }
                        }
                        .products-titles {
                            margin-top: 13px;
                            h3 {
                                padding-bottom: 6px;
                                font-size: 10px;
                            }
                            .products-price {
                                font-size: 11px;
                                padding-bottom: 8px;
                            }
                            p {
                                font-size: 10px;
                                margin: 0 9px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .showed-products-list {
        .container {
            padding: 0 15px;
            h2 {
                padding: 30px 0 0 0;
                font-size: 16px;
            }
            .showed-products {
                margin: 20px 0 3px 0;
                padding: 0 0 30px 0;
                grid-template-columns: 1fr 1fr;
                .showed-products-block {
                    &:nth-child(3) {
                        display: none;
                    }
                    &.yellow-block,
                    &.white-block {
                        height: 278px;
                        a {
                            padding: 12px 0 0 0;
                            .sale-block {
                                width: 36px;
                                height: 13px;
                                p {
                                    font-size: 9px;
                                }
                            }
                            .white-package {
                                margin: 12px auto 0;
                                width: 60px;
                            }
                            .yellow-package {
                                width: 60px;
                                padding-top: 34px;
                            }
                            .horizontal-line {
                                top: 177px;
                            }
                            .products-titles {
                                top: 187px;
                                h3 {
                                    padding-bottom: 6px;
                                    font-size: 10px;
                                }
                                .products-price {
                                    font-size: 11px;
                                    padding-bottom: 8px;
                                }
                                p {
                                    font-size: 10px;
                                    margin: 0 9px;
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 164px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        flex-direction: column;
                        padding-top: 14px;
                        width: 100%;
                        .img-line {
                            justify-content: space-evenly;
                            width: 100%;
                            .images-left {
                                padding: 0;
                            }
                        }
                        .title-line {
                            width: 100%;
                            justify-content: space-evenly;
                            .titles-left {
                                padding: 20px 0;
                            }
                        }
                    }
                    .right-side {
                        width: 100%;
                        justify-content: space-evenly;
                        padding-bottom: 14px;
                        .images-right {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .phone-block {
                        .phone-info {
                            a {
                                font-size: 19px;
                            }
                        }
                    }
                    .contacts-block {
                        flex-wrap: wrap;
                        .fax-block {
                            flex-basis: 48.5%;
                            text-align: center;
                            padding: 0;
                            .info-part {
                                justify-content: center;
                            }
                        }
                        .adress-block {
                            flex-basis: 48.5%;
                            padding: 0;
                            text-align: center;
                            .info-part {
                                justify-content: center;
                            }
                        }
                        .email-block {
                            flex-basis: 100%;
                            text-align: center;
                            padding: 20px 0 0 0;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                        .info-blocks {
                            text-align: center;
                            margin-bottom: 30px;
                            .info-titles {
                                font-size: 12px;
                            }
                            a {
                                font-size: 11px;
                            }
                            &.base-shop {
                                margin-right: 0;
                            }
                            &.legal-block {
                                margin-right: 0;
                            }
                            &.transport-block {
                                margin-right: 0;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                            a {
                                &:nth-child(5) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
