* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 400;
    outline: none;
    border: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.container {
    margin: 0 auto;
}
img.svg {
    width: 16px;
    height: 16px;
    opacity: 0.5;
}
a{
    color: #000000;
}
.back-to-top {
    width: 44px;
    height: 44px;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 576px;
    background-color: #989898;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.back-to-top-show {
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}

@import "_content";
@import "_footer";
@import "_adaptive";

