header {
    width: 100%;
    .main-settings-wrapper {
        background-color: #f2f4f6;
        width: 100%;
        .container {
            .main-settings {
                padding: 16px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .settings-title {
                        line-height: 1;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                    }
                    .settings-language {
                        margin-right: 20px;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                        margin-left: 13px;
                    }
                }
                &-center {
                    display: flex;
                    align-items: center;
                    a {
                        color: rgb(150, 150, 150);
                        margin-left: 20px;
                    }
                }
                &-right {
                    p {
                        text-transform: uppercase;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                    }
                }
            }
        }
    }
    .help-line-wrapper {
        background-color: #fff;
        width: 100%;
        .container {
            .help-line {
                height: 52px;
                display: grid;
                grid-template-columns: 1fr 236px 1fr;
                grid-template-rows: 52px;
                &-left {
                    display: flex;
                    align-items: center;
                }
                &-center {
                    border-right: 1px solid #e5e5e5;
                    border-left: 1px solid #e5e5e5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input {
                        padding-left: 14px;
                        font-size: 14px;
                        outline: none;
                        border: none;
                        width: 82%;
                    }
                    .search-btn {
                        margin-right: 14px;
                        background-color: transparent;
                        cursor: pointer;
                        img {
                            opacity: 1;
                        }
                    }
                }
                &-right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: 26px;
                    .self-cart {
                        .cart-link {
                            display: flex;

                            p {
                                font-size: 14px;
                                color: rgb(0, 0, 0);
                            }
                            img {
                                margin-right: 14px;
                                opacity: 1;
                            }
                        }
                    }
                    .self-cabinet {
                        margin-right: 34px;

                        .cabinet-link {
                            display: flex;

                            p {
                                font-size: 14px;
                                color: rgb(0, 0, 0);
                            }
                            img {
                                margin-right: 14px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation-wrapper {
        height: 46px;
        width: 100%;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
        .container {
            .navigation {
                display: flex;
                justify-content: center;

                .navigation-links {
                    color: rgb(0, 0, 0);
                    font-weight: 700;
                    margin: 0 27px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    &:nth-child(6) {
                        color: #a7171a;
                    }
                }
            }
        }
    }
    .header-title {
        height: 86px;
        width: 100%;
        background-color: #f2f4f6;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: rgb(0, 0, 0);
            font-size: 16px;
        }
    }
    .header-photo {
        width: 100%;
        height: 308px;
        background-color: #ffdcc7;
        display: flex;
        justify-content: center;
        align-items: center;
        .coffee-photo {
            width: 618px;
            height: 252px;
        }
    }
    .header-page {
        height: 44px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        .show-page {
            a {
                color: #000;
            }
        }
    }
    .header-this-page {
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        .page-name {
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
        }
    }
}
.content-page {
    width: 100%;
    padding: 20px 0 0 0;
    .content-wrapper {
        margin: 0 0 2px 0;
        padding: 0 0 25px 0;
        background-color: #f3f5f7;
        .container {
            display: flex;
            justify-content: space-between;
            .select-part {
                width: 282px;
                padding: 0 20px 0 20px;
                .products-all {
                    height: 182px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 0 20px 0;
                    border-bottom: 1px solid #eaeaee;
                    p {
                        color: #000;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 12px;
                    }
                    .product-link {
                        &.main {
                            font-weight: 700;
                        }
                        font-size: 12px;
                        font-weight: 500;
                        color: #000;
                    }
                }
                .filter-reset {
                    width: 100%;
                    padding: 20px 0 20px 0;
                    text-align: center;
                    border-bottom: 1px solid #eaeaee;
                    .reset-wrapper {
                        width: 100%;
                        height: 36px;
                        display: block;
                        background-color: #000;
                        .reset-button {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                            line-height: 0.9;
                            font-weight: 600;
                            color: #fff;
                        }
                    }
                }
                .price-filter {
                    padding: 20px 0 24px 0;
                    border-bottom: 1px solid #eaeaee;
                }
                .adds-filter {
                    border-bottom: 1px solid #eaeaee;
                    padding: 22px 0 22px 0;
                    h3 {
                        font-size: 12px;
                        font-weight: 800;
                    }
                    p {
                        margin-top: 21px;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .adds-button {
                        margin-top: 10px;
                        width: 100%;
                        height: 36px;
                        display: block;
                        background-color: #000;

                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: inherit;
                            height: inherit;
                            color: #fff;
                            font-size: 12px;
                            font-weight: 600;
                            padding-left: 10px;
                            padding-right: 10px;

                            img {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
                .weight-filter {
                    width: 100%;
                    padding: 20px 0 20px 0;
                    border-bottom: 1px solid #eaeaee;
                    h3 {
                        font-weight: 800;
                        font-size: 12px;
                    }
                    .weight-list {
                        width: 100%;
                        height: 84px;
                        margin-top: 21px;
                        display: grid;
                        justify-items: center;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        .weight-link {
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            &.right-side {
                                text-align: right;
                            }
                            &.left-side {
                                text-align: left;
                            }
                            span {
                                cursor: pointer;
                                color: #000;
                                font-size: 12px;
                                font-weight: 500;
                                user-select: none;
                                .weight-check {
                                    display: inline-block;
                                    width: 0px;
                                    height: 0px;
                                    visibility: hidden;
                                    opacity: 0;
                                    transform: rotateY(90deg);
                                    -webkit-transform: rotateY(90deg);
                                    -moz-transform: rotateY(90deg);
                                    -ms-transform: rotateY(90deg);
                                    -o-transform: rotateY(90deg);
                                }
                            }
                        }
                    }
                }
                .country-maked {
                    width: 100%;
                    padding-top: 24px;
                    border-bottom: 1px solid #eaeaee;
                    h3 {
                        font-weight: 800;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    .country-marks {
                        margin-top: 13px;
                        transition: all 0.4s;
                        overflow: hidden;
                        height: 209px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -ms-transition: all 0.4s;
                        -o-transition: all 0.4s;
                        .marks-link {
                            width: 100%;
                            margin-top: 7px;
                            span {
                                font-size: 12px;
                                font-weight: 500;
                                color: #000;
                            }
                        }
                    }
                    .more-wrapper {
                        width: 100%;
                        cursor: pointer;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .more-button {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
                .trade-marks {
                    padding-top: 24px;
                    border-bottom: 1px solid #eaeaee;
                    h3 {
                        font-size: 12px;
                        font-weight: 800;
                    }
                    .trade-list {
                        margin-top: 13px;
                        height: 209px;
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;

                        .marks-link {
                            width: 100%;
                            margin-top: 7px;
                            span {
                                text-transform: uppercase;
                                font-weight: 500;
                                color: #000;
                                font-size: 12px;
                            }
                        }
                    }
                    .more-wrapper {
                        width: 100%;
                        height: 24px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .more-button {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
                .sale-wrapper {
                    width: 100%;
                    margin: 16px 0 10px 0;

                    .sale-button {
                        color: #b03235;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            .products-part {
                width: 894px;
                .products-list-filter {
                    border-top: 1px solid #eaeaee;
                    height: 48px;
                    display: grid;
                    grid-template-columns: 1fr 196px 132px;
                    .products-count {
                        height: 100%;
                        padding-left: 11px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        p {
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            height: 100%;
                        }
                        .count-filter {
                            display: flex;
                            height: 100%;

                            p {
                                font-size: 12px;
                                margin-right: 9px;
                            }

                            .count-btn {
                                cursor: pointer;
                                width: 56px;
                                font-size: 12px;
                                color: #000;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                                position: relative;
                                border-right: 1px solid #eaeaea;
                                .current-count {
                                    pointer-events: none;
                                }
                                img {
                                    pointer-events: none;
                                    height: 12px;
                                    width: 12px;
                                }
                            }
                            .count-list-menu {
                                z-index: 10;
                                background-color: #f3f5f7;
                                position: absolute;
                                right: 0;
                                top: 47px;
                                width: 57px;
                                height: auto;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                border: 1px solid #eaeaee;
                                visibility: hidden;
                                opacity: 0;
                                transform: rotateX(90deg);
                                -webkit-transform: rotateX(90deg);
                                -moz-transform: rotateX(90deg);
                                -ms-transform: rotateX(90deg);
                                -o-transform: rotateX(90deg);
                                transform-origin: top;
                                .count-list {
                                    width: 100%;
                                    li {
                                        width: 100%;
                                        height: 44px;

                                        &:nth-child(1) {
                                            border-bottom: 1px solid #eaeaea;
                                        }
                                        .count-elem {
                                            cursor: pointer;
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .position-filter {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        padding: 0 8px 0 8px;
                        border-right: 1px solid #eaeaee;
                        a {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            font-size: 12px;
                            color: #000;
                            img {
                                height: 12px;
                                width: 12px;
                            }
                        }
                    }
                    .view-filter {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .menu-filter {
                            display: none;
                        }
                        .arrows-changer {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;
                            .arrow-up {
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                height: 50%;
                                width: 30px;
                                img {
                                    margin-top: 10px;
                                    height: 12px;
                                    width: 12px;
                                }
                            }
                            .arrow-down {
                                height: 50%;
                                width: 30px;
                                display: flex;
                                align-items: flex-end;
                                justify-content: center;

                                img {
                                    margin-bottom: 10px;
                                    height: 12px;
                                    width: 12px;
                                }
                            }
                        }
                        .bricks-wrapper {
                            margin-left: 24px;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .bricks-view {
                                display: grid;
                                gap: 2px;
                                grid-template-columns: 6px 6px;
                                grid-template-rows: 6px 6px;
                                cursor: pointer;
                                .brick {
                                    height: 6px;
                                    width: 6px;
                                    background-color: #b6b7b8;
                                }
                            }
                        }
                        .line-wrapper {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 22px;
                            height: 22px;
                            margin-left: 19px;
                            .line-view {
                                position: relative;
                                width: 14px;

                                span,
                                span:before,
                                span:after {
                                    content: "";
                                    margin-top: -1px;
                                    position: absolute;
                                    background-color: #b6b7b8;
                                    display: block;
                                    width: 14px;
                                    height: 2px;
                                }
                                span:before {
                                    content: "";
                                    margin-top: 6px;
                                }
                                span:after {
                                    content: "";
                                    margin-top: -6px;
                                }
                            }
                        }
                    }
                }
                .pages-pagination {
                    height: 49px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    border-top: 1px solid #eaeaee;
                    border-bottom: 1px solid #eaeaea;
                    .pagination-blocks {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 45px;

                        &.left {
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            .arrow-link {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .arrow-left {
                                    opacity: 0.7;
                                    height: 28px;
                                }
                            }
                        }
                        &.center {
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                        }
                        &.right {
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            .arrow-link {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .arrow-right {
                                    opacity: 0.7;
                                    height: 28px;
                                }
                            }
                        }
                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                font-size: 12px;
                                font-weight: 500;
                                line-height: 0.9;
                                color: #000;
                            }
                        }
                    }
                }
                .top-products-wrapper {
                    padding: 24px 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 25px;
                    .top-products-block {
                        height: 400px;
                        background-color: #fff;
                        position: relative;
                        text-align: center;

                        // &:nth-child(-n+3){
                        //     display: none;
                        // }
                        a {
                            position: relative;
                            padding-top: 12px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            &:hover > img {
                                transform: scale(1.03);
                                -webkit-transform: scale(1.03);
                                -moz-transform: scale(1.03);
                                -ms-transform: scale(1.03);
                                -o-transform: scale(1.03);
                            }
                            .products-titles {
                                display: flex;
                                flex-direction: column;
                                margin-top: 26px;
                                width: 100%;

                                h3 {
                                    padding-bottom: 14px;
                                    color: #000000;
                                    font-size: 14px;
                                    font-weight: 500;
                                }
                                .products-price {
                                    color: #000000;
                                    font-size: 14px;
                                    padding-bottom: 14px;
                                    font-weight: 600;
                                    &.red-price {
                                        color: #a7171a;
                                    }
                                    &.bold-price {
                                        font-weight: 800;
                                    }
                                    span {
                                        text-decoration: line-through;
                                        color: #858585;
                                    }
                                }
                                p {
                                    font-size: 12px;
                                    margin: 0 auto;
                                    width: 200px;
                                    color: #848484;
                                }
                            }
                            .sale-block {
                                width: 48px;
                                position: absolute;
                                left: 50%;
                                margin-left: -24px;
                                height: 21px;
                                background-color: #a7171a;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                p {
                                    font-weight: 700;
                                    font-size: 12px;
                                    color: #fff;
                                }
                            }
                            .new-block {
                                width: 44px;
                                position: absolute;
                                margin-left: -22px;
                                left: 50%;
                                height: 21px;
                                background-color: #56bcab;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                p {
                                    color: #fff;
                                    font-weight: 700;
                                    font-size: 12px;
                                }
                            }
                            .yellow-package {
                                display: block;
                                margin: 44px auto 0;
                                width: 83px;
                                height: 162px;
                            }
                            .white-package {
                                display: block;
                                margin: 44px auto 0;
                                height: 162px;
                                width: 83px;
                            }
                            .dark-package {
                                display: block;
                                margin: 44px auto 0;
                                width: 83px;
                                height: 162px;
                            }
                            .green-package {
                                display: block;
                                margin: 76px auto 15px;
                                width: 178px;
                                height: 115px;
                            }
                            .horizontal-line {
                                display: inline-block;
                                margin: 26px auto 0;
                                width: 74%;
                                height: 1px;
                                background-color: #eaeaea;
                            }
                        }
                    }
                }
            }
        }
    }
    .showed-products-list {
        background-color: #f3f5f7;
        margin: 0 0 2px 0;
        .container {
            padding-top: 54px;
            h2 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 600;
            }
            .showed-products {
                margin: 42px 0 0 0;
                padding: 0 0 92px;
                display: grid;
                grid-template-columns: 283px 283px 283px;
                gap: 14px;
                .top-products-block {
                    height: 400px;
                    background-color: #fff;
                    position: relative;
                    text-align: center;
                    a {
                        padding: 12px 0 0 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        .products-titles {
                            position: absolute;
                            top: 265px;
                            width: 100%;

                            h3 {
                                padding-bottom: 14px;
                                color: #000000;
                                font-size: 14px;
                                font-weight: 500;
                            }
                            .products-price {
                                color: #000000;
                                font-size: 14px;
                                padding-bottom: 14px;
                                font-weight: 600;
                                &.red-price {
                                    color: #a7171a;
                                }
                                &.bold-price {
                                    font-weight: 800;
                                }
                                span {
                                    text-decoration: line-through;
                                    color: #858585;
                                }
                            }
                            p {
                                font-size: 12px;
                                margin: 0 auto;
                                width: 200px;
                                color: #848484;
                            }
                        }
                        .sale-block {
                            width: 48px;
                            margin: 12px auto 0;
                            height: 21px;
                            background-color: #a7171a;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            p {
                                font-weight: 700;
                                font-size: 12px;
                                color: #fff;
                            }
                        }
                        .new-block {
                            width: 44px;
                            margin: 9px auto 0;
                            height: 21px;
                            background-color: #56bcab;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                color: #fff;
                                font-weight: 700;
                                font-size: 12px;
                            }
                        }
                        .yellow-package {
                            padding-top: 56px;
                        }
                        .white-package {
                            display: block;
                            margin: 30px auto 0;
                        }
                        .dark-package {
                            margin: 34px 0 0;
                        }
                        .green-package {
                            margin: 88px 0 0;
                        }
                        .horizontal-line {
                            display: block;
                            position: absolute;
                            top: 248px;
                            left: 50%;
                            margin-left: -37%;
                            width: 74%;
                            height: 1px;
                            background-color: #eaeaea;
                        }
                    }
                }
            }
        }
    }
}
