* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 400;
    outline: none;
    border: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.container {
    margin: 0 auto;
}
img.svg {
    width: 16px;
    height: 16px;
    opacity: 0.5;
}
header {
    width: 100%;
    .main-settings-wrapper {
        background-color: #f2f4f6;
        width: 100%;
        .container {
            .main-settings {
                padding: 16px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .settings-title {
                        line-height: 1;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                    }
                    .settings-language {
                        margin-right: 20px;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                        margin-left: 13px;
                    }
                }
                &-center {
                    display: flex;
                    align-items: center;
                    a {
                        color: rgb(150, 150, 150);
                        margin-left: 20px;
                    }
                }
                &-right {
                    p {
                        text-transform: uppercase;
                        font-size: 12px;
                        color: rgb(150, 150, 150);
                    }
                }
            }
        }
    }
    .help-line-wrapper {
        background-color: #fff;
        width: 100%;
        .container {
            .help-line {
                height: 52px;
                display: grid;
                grid-template-columns: 1fr 236px 1fr;
                grid-template-rows: 52px;

                &-left {
                    display: flex;
                    align-items: center;
                }
                &-center {
                    border-right: 1px solid #e5e5e5;
                    border-left: 1px solid #e5e5e5;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input {
                        padding-left: 14px;
                        font-size: 14px;
                        outline: none;
                        border: none;
                        width: 82%;
                    }
                    .search-btn {
                        margin-right: 14px;
                        background-color: transparent;
                        cursor: pointer;
                        img {
                            opacity: 1;
                        }
                    }
                }
                &-right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    margin-right: 26px;
                    .self-cart {
                        .cart-link {
                            display: flex;

                            p {
                                font-size: 14px;
                                color: rgb(0, 0, 0);
                            }
                            img {
                                margin-right: 14px;
                                opacity: 1;
                            }
                        }
                    }
                    .self-cabinet {
                        margin-right: 34px;

                        .cabinet-link {
                            display: flex;

                            p {
                                font-size: 14px;
                                color: rgb(0, 0, 0);
                            }
                            img {
                                margin-right: 14px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .navigation-wrapper {
        height: 46px;
        width: 100%;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        align-items: center;
        .container {
            .navigation {
                display: flex;
                justify-content: center;

                .navigation-links {
                    color: rgb(0, 0, 0);
                    font-weight: 700;
                    margin: 0 27px;
                    letter-spacing: 1px;
                    font-size: 14px;
                    &:nth-child(6) {
                        color: #a7171a;
                    }
                }
            }
        }
    }
    .header-title {
        height: 86px;
        width: 100%;
        background-color: #f2f4f6;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: rgb(0, 0, 0);
            font-size: 16px;
        }
    }
    .header-photo {
        width: 100%;
        height: 308px;
        background-color: #ffdcc7;
        display: flex;
        justify-content: center;
        align-items: center;
        .coffee-photo {
            width: 618px;
            height: 252px;
        }
    }
    .header-page {
        height: 44px;
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        .show-page{
            a{
                color: #000;
            }
        }
    }
    .header-this-page {
        width: 100%;
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;
        .page-name {
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 700;
        }
    }
}

.back-to-top {
    width: 44px;
    height: 44px;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 576px;
    background-color: #989898;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.back-to-top-show {
    opacity: 1;
    cursor: pointer;
    visibility: visible;
}

@import "_content";
@import "_footer";

@media only screen and (min-width: 1920px) {
    .container {
        width: 1400px;
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .container {
        width: 1200px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .container {
        width: 1140px;
    }
    footer {
        .services-line-wrapper {
            .container {
                .services-line {
                    .contacts-block {
                        .email-block {
                            padding-left: 156px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    footer {
        .sponsors-line-wrapper {
            .container {
                .sponsors-line {
                    .left-side {
                        .img-line {
                            .images-left {
                                padding-left: 22px;
                            }
                        }
                        .title-line {
                            .titles-left {
                                padding-left: 30px;
                            }
                        }
                    }
                    .right-side {
                        .images-right {
                            padding-left: 28px;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    .contacts-block {
                        .email-block {
                            padding-left: 98px;
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    .info-part {
                        .info-blocks {
                            &.base-shop {
                                margin-right: 61px;
                            }
                            &.legal-block {
                                margin-right: 67px;
                            }
                            &.transport-block {
                                margin-right: 54px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 720px;
    }
    header {
        .help-line-wrapper {
            .container {
                .help-line {
                    &-right {
                        margin: 0;
                        justify-content: space-around;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                img {
                                    margin-right: 6px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                img {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            .container {
                .navigation {
                    display: flex;
                    justify-content: space-evenly;
                    .navigation-links {
                        font-size: 12px;
                        margin: 0;
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 140px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        padding-top: 14px;
                        .img-line {
                            .images-left {
                                padding-left: 22px;
                            }
                        }
                        .title-line {
                            .titles-left {
                                padding-left: 30px;
                            }
                        }
                    }
                    .right-side {
                        padding-bottom: 14px;
                        .images-right {
                            padding-left: 46px;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .contacts-block {
                        .fax-block {
                            text-align: center;
                        }
                        .adress-block {
                            padding-right: 27px;
                            text-align: center;
                        }
                        .email-block {
                            text-align: center;
                            padding-left: 27px;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        padding-bottom: 40px;
                        .info-blocks {
                            .info-titles {
                                font-size: 13px;
                            }
                            a {
                                font-size: 13px;
                            }
                            &.base-shop {
                                margin-right: 61px;
                            }
                            &.legal-block {
                                margin-right: 67px;
                            }
                            &.transport-block {
                                margin-right: 54px;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-around;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 540px;
    }
    header {
        .main-settings-wrapper {
            .container {
                .main-settings {
                    .main-settings-left {
                        .settings-language {
                            font-size: 10px;
                            margin-left: 9px;
                        }
                        .settings-title {
                            font-size: 10px;
                        }
                    }
                    .main-settings-center {
                        a {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .main-settings-right {
                        p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        .help-line-wrapper {
            .container {
                .help-line {
                    grid-template-columns: 1fr 190px 1fr;
                    &-left {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &-right {
                        margin: 0;
                        justify-content: space-evenly;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            .container {
                .navigation {
                    display: flex;
                    justify-content: space-between;
                    .navigation-links {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 164px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        flex-direction: column;
                        padding-top: 14px;
                        width: 100%;
                        .img-line {
                            justify-content: space-evenly;
                            width: 100%;
                            .images-left {
                                padding: 0;
                            }
                        }
                        .title-line {
                            width: 100%;
                            justify-content: space-evenly;
                            .titles-left {
                                padding: 20px 0;
                            }
                        }
                    }
                    .right-side {
                        width: 100%;
                        justify-content: space-evenly;
                        padding-bottom: 14px;
                        .images-right {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .phone-block {
                        .phone-info {
                            a {
                                font-size: 19px;
                            }
                        }
                    }
                    .contacts-block {
                        .fax-block {
                            text-align: center;
                        }
                        .adress-block {
                            padding-right: 27px;
                            text-align: center;
                        }
                        .email-block {
                            text-align: center;
                            padding-left: 27px;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        padding-bottom: 40px;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .info-blocks {
                            .info-titles {
                                font-size: 11px;
                            }
                            a {
                                font-size: 11px;
                            }
                            &.base-shop {
                                margin-right: 0;
                            }
                            &.legal-block {
                                margin-right: 0;
                            }
                            &.transport-block {
                                margin-right: 0;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-around;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .container {
        width: 316px;
    }
    header {
        .main-settings-wrapper {
            .container {
                .main-settings {
                    .main-settings-left {
                        .settings-language {
                            font-size: 10px;
                            margin-left: 9px;
                        }
                        .settings-title {
                            display: none;
                        }
                    }
                    .main-settings-center {
                        a {
                            margin-left: 10px;
                            font-size: 14px;
                        }
                    }
                    .main-settings-right {
                        display: none;
                    }
                }
            }
        }
        .help-line-wrapper {
            .container {
                .help-line {
                    grid-template-columns: 50px 165px 1fr;
                    .help-line-left {
                        justify-content: center;
                        .menu-burger {
                            width: 20px;
                            height: 20px;
                            z-index: 1000;
                            display: block;
                            span,
                            span:before,
                            span:after {
                                content: "";
                                margin-top: 8px;
                                position: absolute;
                                background-color: rgb(27, 28, 30);
                                display: block;
                                width: 20px;
                                height: 2px;
                                opacity: 1;
                                transition: all 0.3s;
                                -webkit-transition: all 0.3s;
                                -moz-transition: all 0.3s;
                                -ms-transition: all 0.3s;
                                -o-transition: all 0.3s;
                            }
                            span:before {
                                content: "";
                                margin-top: 5px;
                            }
                            span:after {
                                content: "";
                                margin-top: -5px;
                            }
                            &.active-menu-btn {
                                span {
                                    height: 0px !important;
                                    width: 0 !important;
                                    transition: none;
                                    -webkit-transition: none;
                                    -moz-transition: none;
                                    -ms-transition: none;
                                    -o-transition: none;
                                }

                                span:before {
                                    content: "";

                                    margin-top: 0px;
                                    transition: all.3s;
                                    -webkit-transition: all.3s;
                                    -moz-transition: all.3s;
                                    -ms-transition: all.3s;
                                    -o-transition: all.3s;
                                    transform: rotate(-135deg);
                                    -webkit-transform: rotate(-135deg);
                                    -moz-transform: rotate(-135deg);
                                    -ms-transform: rotate(-135deg);
                                    -o-transform: rotate(-135deg);
                                }

                                span:after {
                                    content: "";

                                    margin-top: 0px;
                                    transition: all 0.3s;
                                    -webkit-transition: all 0.3s;
                                    -moz-transition: all 0.3s;
                                    -ms-transition: all 0.3s;
                                    -o-transition: all 0.3s;
                                    transform: rotate(135deg);
                                    -webkit-transform: rotate(135deg);
                                    -moz-transform: rotate(135deg);
                                    -ms-transform: rotate(135deg);
                                    -o-transform: rotate(135deg);
                                }
                            }
                        }
                        a {
                            display: none;
                        }
                    }
                    .help-line-center {
                        input {
                            width: 76%;
                        }
                    }
                    &-right {
                        margin: 0;
                        justify-content: space-evenly;
                        .self-cabinet {
                            margin: 0;
                            .cabinet-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                        .self-cart {
                            .cart-link {
                                p {
                                    display: none;
                                }
                                img {
                                    margin-right: 0;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .navigation-wrapper {
            height: 0;
            visibility: hidden;
            opacity: 0;
            border: none;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            &.active-nav-line {
                opacity: 1;
                height: 90px !important;
                visibility: visible;
                border-top: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
            }
            .container {
                height: 100%;
                .navigation {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    flex-wrap: wrap;
                    .navigation-links {
                        font-size: 11px;
                        flex-basis: 32%;
                        margin: 20px 0 0 0;
                        // &:nth-child(4) {
                        //     margin-top: 20px;
                        // }
                        // &:nth-child(5) {
                        //     margin-top: 20px;
                        // }
                        // &:nth-child(6) {
                        //     margin-top: 20px;
                        // }
                        // &.nav-active-links {
                        //     transition: all 0.2s;
                        //     font-size: 11px !important;
                        //     opacity: 1;
                        //     -webkit-transition: all 0.2s;
                        //     -moz-transition: all 0.2s;
                        //     -ms-transition: all 0.2s;
                        //     -o-transition: all 0.2s;
                        // }
                    }
                }
            }
        }
        .header-title {
            height: 60px;
            p {
                font-size: 14px;
            }
        }
    }
    footer {
        .sponsors-line-wrapper {
            height: 164px;
            .container {
                .sponsors-line {
                    flex-direction: column;
                    align-items: center;
                    .left-side {
                        flex-direction: column;
                        padding-top: 14px;
                        width: 100%;
                        .img-line {
                            justify-content: space-evenly;
                            width: 100%;
                            .images-left {
                                padding: 0;
                            }
                        }
                        .title-line {
                            width: 100%;
                            justify-content: space-evenly;
                            .titles-left {
                                padding: 20px 0;
                            }
                        }
                    }
                    .right-side {
                        width: 100%;
                        justify-content: space-evenly;
                        padding-bottom: 14px;
                        .images-right {
                            padding: 0;
                        }
                    }
                }
            }
        }
        .services-line-wrapper {
            .container {
                .services-line {
                    flex-direction: column-reverse;
                    height: 180px;
                    .phone-block {
                        .phone-info {
                            a {
                                font-size: 19px;
                            }
                        }
                    }
                    .contacts-block {
                        flex-wrap: wrap;
                        .fax-block {
                            flex-basis: 48.5%;
                            text-align: center;
                            padding: 0;
                            .info-part {
                                justify-content: center;
                            }
                        }
                        .adress-block {
                            flex-basis: 48.5%;
                            padding: 0;
                            text-align: center;
                            .info-part {
                                justify-content: center;
                            }
                        }
                        .email-block {
                            flex-basis: 100%;
                            text-align: center;
                            padding: 20px 0 0 0;
                            .info-part {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .footer-services-wrapper {
            .container {
                .footer-services {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-top: 36px;
                    .info-part {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;
                        .info-blocks {
                            text-align: center;
                            margin-bottom: 30px;
                            .info-titles {
                                font-size: 12px;
                            }
                            a {
                                font-size: 11px;
                            }
                            &.base-shop {
                                margin-right: 0;
                            }
                            &.legal-block {
                                margin-right: 0;
                            }
                            &.transport-block {
                                margin-right: 0;
                            }
                        }
                    }
                    .social-part {
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        .letter-block {
                            text-align: center;
                        }

                        .social-links {
                            padding-bottom: 50px;
                            padding-top: 36px;
                            margin: 0;
                            text-align: center;
                            a {
                                &:nth-child(5) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
